#root, html, body{
     margin: 0;
     padding: 0;
     height: 100vh;
     box-sizing: border-box;
     font-family: 'Spartan', sans-serif;
}

.app{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("./images/motiv.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1{
    /* margin: 0; */
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 0.6rem 0 0.6rem;
}

.card{
    background-color: whitesmoke;
    opacity: 66%;
    color: black;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 1.6rem;
    padding: 4px;
}

button{
    padding: 0.4rem 0.6rem;
    margin: 0 0 0.7rem 0;
    border-radius: 0.8rem;
    border: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Poppins";
    text-align: center;
    font-weight: 500;
    color: cornflowerblue;
    border:0.1px solid cornflowerblue;
    box-shadow: 0 5px 0.3px rgba(102, 102, 102, 0.144);
}
button:hover{
    background: rgba(189, 227, 255, 0.295);
    /* color: white; */
    box-shadow: 0 5px 0.3px rgba(102, 102, 102, 0.144);
    /* transform: translateY(-2px); */
    transition: all 0.4s;
}
button:active {
    box-shadow: 0 2px rgba(102, 102, 102, 0.144);
    transform: translateY(4px);
  }

@media only screen and (max-width: 600px){
    .card{
        width: 80%;
        height: 30%;
    }
    h1{
        font-size: 1rem;
    }
    button{
        margin: 0 0 0 0;
    }
}